@import url(reset.css);

h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: Lato, sans-serif;
    font-weight: 800;
    font-size: 32px;;
    line-height: 40px;
    margin-top: 82px;;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    vertical-align: top;
}

p {
    text-align: center;
    font-family: Lato, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #7E7F7C;
    margin-top: 24px;
}

.section {
    margin-top: 72px;
}

.items {
    max-width: 1180px;
    margin: 0 auto;
    font-size: 0;
}

.item1, .item2 {
    display: inline-block;
    max-width: 348px;
    margin-right: 68px;
}

.item3 {
    display: inline-block;
    max-width: 348px;
}

.item4, .item5 {
    display: inline-block;
    max-width: 348px;
    margin-right: 68px;
    margin-top: 68px;
}

.item6 {
    display: inline-block;
    max-width: 348px;
    margin-top: 68px;
}

img{
    margin: 4px 148px 28px;
}

footer {
    margin-top: 150px;
}